.bullet-points li{
    display: inline-block;
}
.bullet-points ul div{
   width: 60vw;
}
.bullet-points ul{
    width: 60vw;
}
.Trek h1{
    width: 60vw;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
padding: 25px;

color: #57BEBE;
}

@media (max-width:600px){

    .bullet-points li{
        display: inline;
    }
    .bullet-points ul{
        width: 100%;
    }
    .bullet-points ul div{
        width: 100%;
    }
    .Trek h1{
        text-align: left;
        padding-left: 0;
    }
    .bullet-points ul div img{
        margin-right: 5px;
    }

}