/* .one{
    border-left: 3px solid blue;
    width: 40.99px;
    display: inline;
    margin-right: 16px;
}
.two{
    border-left: 3px solid blue;
    width: 53px;
    display: inline;
    margin-right: 16px;
}
.three{
    border-left: 3px solid blue;
    width: 59px;
    display: inline;
} */
.destination-heading{
    padding: 18px;
}
.flex-destination span{
    display: inline-block;
}
.destination-heading{
    display: inline-block;
}
.ek{
      height: 20px;
      margin-right: 5px;
      border:2px solid rgba(74, 242, 242, 1);
}
.do{
    height: 25px;
      margin-right: 5px;
      border:2px solid rgba(74, 242, 242, 1);
}

.teen{
    height: 30px;
    border:2px solid rgba(74, 242, 242, 1);
}
.flex-destination{
    text-align: center;
}
.slider-splide{
    text-align: center;
}
.one1 img{
    margin-right: 6px;
}
.head{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #000000;

}
.one1 p{
    margin-top: 10px;
}
.one1 p:nth-child(2){
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
/* identical to box height */


color: #000000;

}
.one1 p:nth-child(4){
    display: inline-block;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;

/* identical to box height */


color: #000000;
}
.one1 p:nth-child(5){

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;

color: #000000;
}
.one1 p:nth-child(6){
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-decoration-line: line-through;

color: rgba(0, 0, 0, 0.55);

}